<!DOCTYPE html>
<html>
<head>
    <title>Lista de Ativos</title>
</head>
<body>
    <h1>Lista de Ativos</h1>

    <!-- Adicione o formulário de busca do Django -->

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Símbolo</th>
            </tr>
        </thead>
        <tbody>
            {% for ativo in ativos %}
                <tr>
                    <td>{{ ativo.nome }}</td>
                    <td>{{ ativo.symbol }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">Nenhum ativo encontrado.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
